@layer theme, base, components, utilities;

@theme {
  --color-primary: #162233;
  --color-secondary: #34475F;
}

/* Optional dark mode */
.dark {
  --color-primary: #ffffff;
}

@import 'tailwindcss';


@media print {
  body {
    background: white;
  }

  .no-print {
    display: none !important;
  }

  .page-break {
    page-break-before: always;
  }
  .pdf-page {
    page-break-after: always;
    padding-top: 20px;
  }
}